<!DOCTYPE html>
<html>
  <head>
    <title> Article Suggester </title>
  </head>
  <body>
    <div id='article-in'>
      <input placeholder="name" v-model="articleName" id='articleName'></input><br>
      <input placeholder="url"  v-model="articleUrl" id='articleUrl'></input><br>
      <input placeholder="tags" v-model="articleTags" id='articleTags'></input><br>
      <button v-on:click="submit" id='articleSubmit'> Submit </button>
    </div>
    <h2>Suggested Articles </h2>
    <ul id='article-list'>
      <li v-for="article in articles">
      {{ article['nametext'] }}
    </ul>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.12/vue.min.js'></script>
    <script src='main.js'></script>
  </body>
</html>
